/*___GLOBAL___*/

* {
    margin: 0;
    padding: 0;
}

*:hover,
*:focus {
    transition-timing-function: var(--cubic-bezier);
    transition-duration: 250ms;
}

:root {
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --background-color: #FFFFFF;
    --accent-color: #2196f3;
    --border-color: #EEEEEE;
    --background-image-color: rgba(47, 48, 58, 0.4);
    --background-icon-color: #F5F4FA;
    --icon-color: rgba(175, 177, 184, 1);
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-text-color: rgba(117, 117, 117, 1);
    --modal-form-border: rgba(33, 33, 33, 0.2);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

footer {
    background-color: #2F303A;
    line-height: 1.7em;
    padding: 60px 60px 96px 60px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.underscore-index {
    position: relative;
    top: 28px;
}

.underscore-index::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 53px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    transition-property: opacity, visibility, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: var(--secondary-text-color);
    transition-property: var(--cubic-bezier);
}

.modal_title {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.close-btn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--backdrop-color);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0px;
}

h2 {
    margin-bottom: 50px;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
}

img {
    display: block;
    height: auto;
}

address {
    font-style: normal;
    margin-top: 20px;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

a,
.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    line-height: 1.17em;
}

a:visited {
    color: var(--main-text-color);
}

a.logo-header>span {
    color: var(--accent-color);
    left: 215px;
}


a:hover,
a:focus {
    color: var(--accent-color);
}

.section_item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section_item_class {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    color:#757575;
    letter-spacing: 0.03em;
}

ul.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 56px;
}


.button {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    letter-spacing: 0.03em;
    padding: 6px 25px;
    border-radius: 4px;
    background-color: #F5F4FA;
    color: var(--main-text-color);
    border: none;
    cursor: pointer;
}

.modal_button {
    display: flex;
    justify-content: center;
}

.button_submit_modal {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.button_submit_modal:hover,
.button_submit_modal:focus {
    transition-property: box-shadow, cursor, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}



.button:hover,
.button:focus {
background-color: var(--accent-color);
color: #FFFFFF;
}

.button_main {
    font-weight: 700;
    font-size: 16px;
    font-family: var(--main-font);
    letter-spacing: 0.06em;
    line-height: 1.88em;
    text-align: center;
    color:#FFFFFF;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    padding: 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo-header {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway';
}

.logo-header:hover,
.logo-header:focus {
    color: var(--main-text-color)
}

a.logo-footer {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway';
}

span.logo-studio {
    color: var(--accent-color);
}

.contact-header,
.contact-footer {
     color:#757575;
}

.contact-header:focus .header_icon,
.contact-header:hover .header_icon{
    color: var(--accent-color);
    fill: var(--accent-color);
}

section.main .button {
    background-color: var(--accent-color);
}

section.crew {
    background-color: #F5F4FA;
}

.photos_index_list {
    gap: 30px;
    display: flex;
}

.photos_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1200px;
}

.photo_grid:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

section.photos_portfolio>h3 {
    font-size: 18px;
    letter-spacing: 0.06em;
}

a.current,
a.current:hover,
a.current:focus {
    color: var(--accent-color);
}

address a.contact_googlemaps {
    color: #FFFFFF;
}

.header_icon {
    fill: var(--icon-color);
}

address a.contact-header:hover,
address a.contact-header:focus,
address a.contact-footer:hover,
address a.contact-footer:focus{
    color: var(--accent-color);
    fill: var(--accent-color)
}

address a.contact_googlemaps:hover,
address a.contact_googlemaps:focus {
    color: var(--accent-color);
}

.header-view {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header_icon {
    padding: 0px;
    display: inline-block;
    margin-right: 10px;
}

.header_icon:focus,
.header_icon:hover {
    fill: var(--accent-color)
}

.header-content {
    height: 80px;
    align-items: center;
    display: flex;
}

ul.nav-links {
    display: flex;
    gap: 46px;
}

.nav-links::after {
    text-decoration: dotted red;
}

.nav-header {
    margin-left: 93px;
}

div.main-button {
    width: 696px;
    height: auto;
}

footer.footer-view {
    height: 252px;
    align-items: center;
}

div.footer-content {
    margin: 0px;
}

li.address-link {
    padding-bottom: 9px;
}

li.address-link:last-child {
    padding-bottom: 0px;
}

.photo_grid {
    border: 1px solid var(--border-color);
}

.overlay_box  {
    position: relative;
    overflow: hidden;
}

.photo_index {
    position: relative;
}

.photo_index_overlay {
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
}

.photo_index_p {
    display: flex;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 90px;
    justify-content: center;
}

.photo_grid:hover .overlay {
    transform: translateY(0);
}

.overlay_p {
    font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  padding: 49px 45px 49px 24px;
  display: flex;
  position: relative;
  margin-top: 0;
}

.overlay {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section_item {
    padding-left: 24px;
    padding-right: 24px; 
    padding-top: 20px;
}

.section_item_class {
    padding-left: 24px;
    padding-top: 4px;
}

.lorem_listitem_icons {
    background-color: var(--background-icon-color);
    padding: 25px 100px;
    border-radius: 4px;
    height: 120px;
    width: 270px;
    justify-content: center;
    margin-bottom: 30px;
}

.customers_icon_window:hover .customers_icon,
.customers_icon_window:focus .customers_icon{
    fill: var(--accent-color);
}

.customers_icon_window:hover,
.customers_icon_window:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.customers_icon_window svg:hover {
    fill: currentColor;
}

.crewmember_icon:hover,
.crewmember_icon:focus {
    fill: var(--secondary-text-color);
}

.social_footer {
    display: inline-flex;
    color: var(--secondary-text-color);
}

.social_footer_header {
    font-family: 'Roboto';
    font-weight: 700;
    size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.index_form {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.label_index {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.label_text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.label_index_svg {
    fill: var(--main-text-color);
    position: absolute;
    display: block;
    bottom: 30%;
    left: 15px;
}

.input_index {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modal-form-border);
    outline-color: 1px solid var(--modal-form-border);
    margin-bottom: 10px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.input_comment {
    display: flex;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.form_comment {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    resize: none;
  }

  .label_index:focus-within,
  .input_index:focus-within,
  .form_comment:focus-within {
    --main-text-color: var(--accent-color);
    outline-color: var(--accent-color);
    --modal-form-border: solid 1px var(--accent-color);
}

.crewmember_social {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    margin-bottom: 30px;
}

.crewmember_social:hover,
.crewmember_social:focus {
    background-color: var(--accent-color);
}

.footer_social {
    border-radius: 50%;
    fill: var(--secondary-text-color);
    background-color: var(--footer-icon-color);
    padding: 12px;
    display: flex;
}

.emailaddress_footer:hover,
.emailaddress_footer:focus {
    outline: solid 1px var(--accent-color);
    border: none;
}

.button_submit_newsletter:hover,
.button_submit_newsletter:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.footer_social:hover,
.footer_social:focus {
    background-color: var(--accent-color);
}

.underscore-portfolio {
    position: relative;
    top: 28px;
}

.underscore-portfolio::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 58px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.input_box {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}


.label_checkbox_policy {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    max-height: 24px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color:#757575;
    text-align: center;
    padding-bottom: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 22px;
    
}

.checkbox_input {
    position: absolute;
    appearance: none;
}

.checkbox_icon {
    display: inline-block;
    margin-right: 8px;
    border: 1px solid var(--main-text-color);
    border-radius: 2px;
    vertical-align: sub;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    fill: var(--background-color);
    background-color: var(--background-color);
}

.checkbox_vector {
    display: block;
    width: 16px;
    height: 15px;
}

.checkbox_text>a {
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
}

input.checkbox_input:checked +.checkbox_icon {
    border: 1px solid var(--accent-color);
    fill: var(--background-color);
    background-color: var(--accent-color);
}

/* __________________________________________________________MOBILE__________________________________________________________ */

@media screen and (max-width: 767px) {

    .hamburger {
        stroke: var(--main-text-color);
    }

    .hamburger-div {
    margin: auto;
    max-width: 428px;
    }

    .modal {
        max-width: 468px;
    }

/*_____Header_____*/

.header-content {
    justify-content: space-between;
}

.nav-header {
    display: none;
}

.contact-links {
    display: none;
}

.mobile-menu {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

/*_____Hamburger_____*/

.hamburger-menu-button {
    stroke: var(--main-text-color);
}

.menu-container-a {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }

.menu-container-a.is-open {
    transform: translateX(0);
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
 
 .hamburger-menu {
     border: none;
     background-color: transparent;
     fill: black;
     stroke: black;
 }
 
 .hamburger-div {
    display: flex;
     margin: auto;
     max-width: 428px;
 }
 
 .hamburger-close {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     background-color: transparent;
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250 ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .hamburger-close-icon {
     fill: #2e2f42;
     width: 8px;
     height: 8px;
     margin: 0 auto;
 }
 
 .hamburger-navigation {
     padding-left: 40px;
     padding-top: 80px;
     font-size: 36px;
     font-weight: bold;
 }

 .hamburger-list {
     display: flex;
     flex-direction: column;
     gap: 40px;
     color:#212121;
 }
 
 .hamburger-link {
     font-size: 36px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
     color: #2e2f42;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .hamburger-address {
     padding-top: 80px;
 }
 
 .hamburger-address-list {
     display: flex;
     flex-direction: column;
     gap: 40px;
     padding-left: 40px;
 }
 
 .hamburger-item-phone {
     text-decoration: none;
     color: #4D5AE5;
     font-size: 36px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
     font-style: normal;
 }
 
 .hamburger-item-mail {
     color: #434455;
     font-size: 20px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.4px;
     text-decoration: none;
     font-style: normal;
 }
 
 .hamburger-social-links {
     display: flex;
     justify-content: space-between;
     margin-top: 48px;
     margin-bottom: 40px;
     margin-left: 40px;
     margin-right: 40px;
 }
 
 .hamburger-social { 
     height: 40px;
     width: 40px;
 }
 
 .hamburger-social-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .hamburger-social-item {
     fill: #f4f4f4;
     width: 16px;
     height: 16px;
 }
 

/*_____Hero Image_____*/

.hero-image {
    width: 100%;
}

.title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 40px;
}

.main {
    background-color: var(--background-image-color);
    background-image:linear-gradient(90deg,
    rgba(47, 48, 58, 0.4) 0%,
    rgba(47, 48, 58, 0.4) 0%) ,url("/goit-markup-hw-07/images/mobile-header-img.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
                url("/goit-markup-hw-07/images/mobile-header-img@2x.jpg");    
        }
    }

/*_____Item List_____*/

.lorem_listitem_icons {
    display: none;
}

h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;     
}

.lorem_listitem_list {
    display: flex;
    width: 100%;
    gap: 72px;
    flex-direction: column;
    align-items: flex-start;
}

.lorem_p {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

section.loremipsum {
    margin-bottom: 96px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

/*_____Photos Index_____*/

.photos_index {
    display: none;
}

/*_____Crew_____*/

.photos_crew {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.crewmember {
    width: 270px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section_title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: capitalize;
}

.section_crewmember {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
}

.section_crewmember_desctription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color:#757575;
    text-align: center;
    padding-top: 8px;
}

.crewmember_icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.crewmember_icon {
    margin-bottom: 30px;
    fill: var(--icon-color);
    display: flex;
    padding: 12px;
}

/*_____Customers_____*/

.customers_icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    margin: 16px 32px;
}

.customers_icon_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
}

.customers_icon_window {
    width: 190px;
    height: 88px;
    border: solid 1px;
    border-color: var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    display: flex;
    justify-content: center;
}

/*_____Footer_____*/

 /* .footer_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
} */

.footer {
    text-align: center;
    align-items: center;
}

.social_footer_join {
    margin-top: 72px;
}

.social_footer_icons {
    gap: 16px;
    display: flex;
    margin-top: 16px;
    justify-content: center;
} 

.social_footer_header {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.footer_form {
    margin-top: 72px;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup_newsletter {
    text-align: center;
    margin-bottom: 10px;
}

.footer_signup {
    margin-top: 16px;
    justify-content: center;
}

.emailaddress_label {
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}   

.emailaddress_footer {
    position: relative;
    background-color: rgba(33, 150, 243, 0);
    width: 100%;
    height: 50px;
    padding-left: 12px;
    color: var(--secondary-text-color);
    outline: var(--accent-color);

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.emailaddress_footer:hover,
.emailaddress_footer:focus {
    outline: solid 1px var(--accent-color);
    border: none;
}

.button_submit_newsletter {
    width: 60%;
    height: 50px;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3%;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    align-items: center;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    position: relative;
    gap: 24px;
    left: 20%;
} 

.button_submit_newsletter:hover,
.button_submit_newsletter:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}



}
/* __________________________________________________________TABLET__________________________________________________________ */

@media screen and (min-width: 768px) and (max-width: 1157px) {

.hamburger-menu,
.menu-container-a {
    display: none;
}

.modal {
     max-width: 768px;
     position: fixed;
     top: 50%;
     left: 50%;
}

/*_____Header_____*/

.nav-header {
    margin-left: 120px;
}

.nav-links {
    display: block;
}

.contact-links {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 16px;
}

/*_____Hero Image_____*/

.hero-image {
    width: 100%;
}

.title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 40px;
}

.main {
    background-color: var(--background-image-color);
    background-image:linear-gradient(90deg,
    rgba(47, 48, 58, 0.4) 0%,
    rgba(47, 48, 58, 0.4) 0%) ,url("/goit-markup-hw-07/images/tablet-header-img.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 400px;
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
                url("/goit-markup-hw-07/images/tablet-header-img@2x.jpg"); 
        }
    }

.hero-image {
    width: 100%;
}

/*_____Item List_____*/

.lorem_listitem_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 72px;
}

.lorem_listitem {
    width: 300px;
}

h3 {
    font-size: 36px;
}

.lorem_p {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.lorem_listitem_icons {
    display: none;
}

h3 {
    text-align: left;
}

/*_____Photos Index_____*/

.photos_index {
    display: none;
}

/*_____Crew_____*/

.photos_crew {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 72px;
    align-items: center;
}

.crewmember {
    width: 270px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section_title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: capitalize;
}

.section_crewmember {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
}

.section_crewmember_desctription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color:#757575;
    text-align: center;
    padding-top: 8px;
}

.crewmember_icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.crewmember_icon {
    margin-bottom: 30px;
    fill: var(--icon-color);
    display: flex;
    padding: 12px;
}

/*_____Customers_____*/

.customers_icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    margin: 16px 32px;
}

.customers_icon_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
}

.customers_icon_window {
    width: 190px;
    height: 88px;
    border: solid 1px;
    border-color: var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    display: flex;
    justify-content: center;
}

/*_____Footer_____*/

.footer_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.social_footer_join {
    margin-top: 10px;
}

.social_footer_icons {
    gap: 16px;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.social_footer_header {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.footer_form {
    margin-top: 72px;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.form_newsletter {
    display: flex;
    gap: 24px;
}

.email-label {
    min-width: 250px;
}

.emailaddress_label {
        color: var(--secondary-text-color);
    font-family: 'Roboto';
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.emailaddress_footer {
    background-color: rgba(33, 150, 243, 0);
    width: 100%;
    display: inline-flex;
    height: 50px;
    padding-left: 12px;
    color: var(--secondary-text-color);
    outline: var(--accent-color);

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.emailaddress_footer:hover,
.emailaddress_footer:focus {
    outline: solid 1px var(--accent-color);
    border: none;
}

.signup_newsletter {
    margin-bottom: 10px;
}

.button_submit_newsletter {
    display: inline-flex;
    min-width: 165px;
    height: 50px;
    min-width: 150px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3%;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    gap: 24px;
}

.button_submit_newsletter:hover,
.button_submit_newsletter:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

}

/* __________________________________________________________DESKTOP__________________________________________________________ */

@media screen and (min-width: 1158px) {

    .hamburger-menu,
    .menu-container-a {
        display: none;
    }

    .container {
        width: 100%
    }

    .main {
        background-image:linear-gradient(90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%) ,url("/goit-markup-hw-07/images/desktop-header-img.jpg");
        width: 100%;
        height: 600px;
        padding: 200px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .main {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
                url("/goit-markup-hw-07/images/desktop-header-img@2x.jpg");     
        }
    }

/*_____Header_____*/

.header-content { 
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-header {
    margin-left: 156px;
    justify-content: center;
}

.nav-links {
    display: block;
}

.contact-links {
    display: flex;
    margin-left: 120px;
    flex-direction: row;
    margin-left: 332px;
    gap: 40px;
}

/*_____Hero Image_____*/

.hero-image {
    width: 100%;
}

.title {
    max-width: 600px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 40px;
}
    
.main {
    background-color: var(--background-image-color);
    background-image:linear-gradient(90deg,
    rgba(47, 48, 58, 0.4) 0%,
    rgba(47, 48, 58, 0.4) 0%) ,url("/goit-markup-hw-07/images/desktop-header-img.jpg");
    background-position: 50% 50%;
     background-repeat: no-repeat;
     text-align: center;
     width: 100%;
}

/*_____Item List_____*/

.lorem_listitem_list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.lorem_listitem {
    width: 264px;
}

.lorem_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20em;
    letter-spacing: 0.4px;
}

/*_____Photos Index_____*/

.section_title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.photos_index_list {
    display: flex;
    justify-content: center;
}

/*_____Crew_____*/

.photos_crew {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 72px;
    align-items: center;
}

.crewmember {
    width: 270px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section_title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: capitalize;
}

.section_crewmember {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
}

.section_crewmember_desctription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color:#757575;
    text-align: center;
    padding-top: 8px;
}

.crewmember_icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.crewmember_icon {
    margin-bottom: 30px;
    fill: var(--icon-color);
    display: flex;
    padding: 12px;
}

/*_____Customers_____*/

.customers_icon {
    width: 168px;
    height: 60px;
    fill: var(--icon-color);
    margin: 16px 32px;
}

.customers_icon_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.customers_icon_window {
    width: 190px;
    height: 88px;
    border: solid 1px;
    border-color: var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    display: flex;
    justify-content: center;
}

/*_____Footer_____*/

.footer_flex {
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

.social_footer_join {
    margin-top: 10px;
}

.social_footer_icons {
    gap: 16px;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.social_footer_header {
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.footer_form {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.form_newsletter {
    display: flex;
    gap: 24px;
}

.email-label {
    min-width: 250px;
}

.emailaddress_label {
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.emailaddress_footer {
    background-color: rgba(33, 150, 243, 0);
    width: 100%;
    display: inline-flex;
    height: 50px;
    padding-left: 12px;
    color: var(--secondary-text-color);
    outline: var(--accent-color);

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.signup_newsletter {
    margin-bottom: 10px;
}

.button_submit_newsletter {
    display: inline-flex;
    min-width: 165px;
    height: 50px;
    min-width: 150px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3%;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    gap: 24px;
    position: relative;
}

}